.sidebar {
  height: 700px;
  width: 300px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-blue-filled);
}

.sidebarMain {
  flex: 1;
}
