repositories:
 - name: grafana
   url: https://grafana.github.io/helm-charts

releases:
  - name: grafana-secrets
    namespace: grafana
    chart: ../../charts/secret
    values:
      - ../../charts/secret/values.yaml.gotmpl
      - name: grafana-admin-credentials
        data:
          - key: grafana-admin-credentials
            property: username
            localKey: admin-user
          - key: grafana-admin-credentials
            property: password
            localKey: admin-password

  - name: grafana
    needs:
      - grafana-secrets
    namespace: grafana
    chart: grafana/grafana
    version: "10"
    set:
      - name: persistence.enabled
        value: true
      - name: persistence.type
        value: pvc
      - name: persistence.size
        value: 10Gi
      - name: persistence.storageClassName
        value: sata
      - name: persistence.accessModes
        values:
          - ReadWriteOnce
      - name: admin.existingSecret
        value: grafana-admin-credentials
      - name: admin.userKey
        value: admin-user
      - name: admin.passwordKey
        value: admin-password
