:global(body) {
  @mixin light {
    background-color: #f7f8f9;
    background: linear-gradient(127deg, rgba(247, 248, 249, 1) 50%, rgba(237, 239, 240, 1) 100%);
    background-attachment: fixed;
  }

  @mixin dark {
    background-color: #242730;
  }
}

:global(strong) {
  @mixin light {
    color: #020304; /* #2d8e7d */ /* #1f6964 */ /* 1f791f */
  }

  @mixin dark {
    color: #e4e4e4
  }
}

p {
  text-wrap-style: pretty;
}

h1 {
  margin-bottom: 0 !important;
}
