:global(html) {
  overscroll-behavior-x: none;
  overflow-x: hidden;
  width: 100%;

  @mixin light-root {
    background-color: #f7f8f9;
  }

  @mixin dark-root {
    background-color: #1d2230;
    scrollbar-color: #66697c #353d5a;
  }
}

:global(body) {
  overscroll-behavior-x: none;
  overflow-x: hidden;

  width: 100%;
  margin-bottom: 2rem;

  @mixin light {
    background-color: #f7f8f9;
  }

  @mixin dark {
    background-color: #1d2230;
  }
}

:global(strong) {
  @mixin light {
    color: #020304; /* #2d8e7d */ /* #1f6964 */ /* 1f791f */
  }

  @mixin dark {
    color: #e4e4e4
  }
}

:global(small) {
  color: var(--mantine-color-dimmed);
}

:global(h1), :global(h2), :global(h3), :global(h4), :global(h5), :global(h6) {
  @mixin light {
    color: #1da589;
  }

  @mixin dark {
    color: #25b89a;
  }
}

:global(p) {
  text-wrap-style: pretty;
}

h1 {
  margin-bottom: 0 !important;
}


:global(.mantine-Menu-itemLabel), :global(.mantine-Menu-itemSection) {
  line-height: 125% !important;
}

.displayRoot { /* intentionally empty */ }
.printRoot { /* intentionally empty */ }


:where(ul, ol):not([data-type='taskList']) {
  padding-inline-start: var(--mantine-spacing-md);

  margin-bottom: 0;

  li {
    margin-bottom: 0.6rem;
    line-height: 1.75rem;
  }
}
