@page {
  size: letter portrait;
  margin: 20mm;
}

@media print {
  :global(html) {
    font-size: 12pt; /* manages rem */
  }

  :global(body) {
    background-color: transparent !important;
    -webkit-print-color-adjust: exact;
  }

  :global(p), :global(strong), :global(h1), :global(h2), :global(h3), :global(h4), :global(h5), :global(h6), :global(li), :global(.mantine-Title-root), :global(.workHistoryItem) :global(a) {
    color: #000 !important;
    -webkit-print-color-adjust: exact;
  }

  :global(.page) > :is(h1,h2,h3,h4,h5,h6):first-child { margin-top: 0 !important; }
  :global(.page) > :global(.section) > :is(h1,h2,h3,h4,h5,h6):first-child { margin-top: 0 !important; }

  :global(h1) {
    font-size: 2.75rem !important;
  }

  :global(h2) {
    margin-top: var(--mantine-spacing-sm) !important;
    font-size: 1.9rem !important;
  }

  :global(.mantine-List-root) :global(a), :global(a) {
    /* color: var(--mantine-color-blue-6) !important; */
    color: black !important;
  }

  :global(.mantine-ThemeIcon-root) {
    /* color: var(--mantine-color-gray-6) !important; */
    color: black !important;
  }

  :global(.recharts-text) {
    color: black !important;
    fill: black;
  }

  :global(p), :global(a) {
    font-size: 75% !important;
    line-height: 155% !important;
    margin-bottom: var(--mantine-spacing-sm) !important;
  }

  :global(.mantine-List-item) {
    :global(.mantine-ThemeIcon-root) {
      --ti-size: var(--ti-size-sm);
    }

    :global(.mantine-List-itemLabel) {
      font-size: var(--mantine-font-size-xs) !important;

      :global(a) {
        font-size: var(--mantine-font-size-xs) !important;
      }
    }
  }

  :global(.workHistoryItem) {
    margin-bottom: 1.5rem !important;

    :global(p) {
      margin-bottom: 0;
    }
  }

  :global(.projectItem) {
    margin-bottom: 1.5rem !important;
  }

  :global(.atAGlanceSection) {
    :global(.title) {
      font-size: 70% !important;
    }
  }
}

