@page {
  size: letter portrait;
  margin: 20mm;
}

@media print {
  :global(html) {
    font-size: 12pt; /* manages rem */
    background-color: transparent !important;
  }

  :global(body) {
    background-color: transparent !important;
    -webkit-print-color-adjust: exact;
  }

  :global(p), :global(strong), :global(small), :global(h1), :global(h2), :global(h3), :global(h4), :global(h5), :global(h6), :global(li), :global(.mantine-Title-root), :global(.workHistoryItem) :global(a) {
    color: #000 !important;
    -webkit-print-color-adjust: exact;
  }

  :global(.page) > :is(h1,h2,h3,h4,h5,h6):first-child { margin-top: 0 !important; }
  :global(.page) > :global(.section) > :is(h1,h2,h3,h4,h5,h6):first-child { margin-top: 0 !important; }

  :global(.section), :global(.page) {
     margin-bottom: 2rem;
  }

  :global(.contactInfoSection.section), :global(.executiveSummarySection.section) {
    margin-bottom: 0;
  }

  :global(.caseStudySection) {
    :global(.caseStudySubSection) {
      margin-bottom: 0;
    }
  }

  :global(h1) {
    font-size: 2.75rem !important;
  }

  :global(h2) {
    margin-top: var(--mantine-spacing-sm) !important;
    font-size: 1.9rem !important;
  }

  :global(.mantine-List-root) :global(a), :global(a) {
    /* color: var(--mantine-color-blue-6) !important; */
    color: black !important;
  }

  :global(.mantine-ThemeIcon-root) {
    /* color: var(--mantine-color-gray-6) !important; */
    color: black !important;
  }

  :global(.recharts-text) {
    color: black !important;
    fill: black;
  }

  :global(p), :global(a) {
    font-size: 0.79rem !important;
    line-height: 1.224rem !important;

    margin-bottom: var(--mantine-spacing-sm) !important;
  }

  :global(.mantine-List-item) {
    :global(.mantine-ThemeIcon-root) {
      --ti-size: var(--ti-size-sm);
    }

    :global(.mantine-List-itemLabel) {
      font-size: var(--mantine-font-size-xs) !important;

      :global(a) {
        font-size: var(--mantine-font-size-xs) !important;
      }
    }
  }

  :global(.contactInfoSection) {
    li {
      line-height: 1 !important;
      margin-bottom: 0;
    }
  }

  :global(.section) :where(ul, ol):not([data-type='taskList']) {
    :global(li), :global(li) :global(.mantine-List-itemLabel) {
      font-size: 0.77rem !important;
      line-height: 1.05rem !important;
    }
  }

  :global(.workHistoryItem) {
    margin-bottom: 1.5rem !important;

    :global(p), :global(ul), :global(li) {
      margin-bottom: 0 !important;
    }

    :global(ul) {
      margin-top: 0.3rem !important;

      :global(li) {
        line-height: 1.15rem !important;
        margin-bottom: 0.3rem !important;
      }
    }
  }

  :global(.projectItem) {
    margin-bottom: 1.5rem !important;
  }

  :global(.atAGlanceSection) {
    :global(.title) {
      font-size: 0.71rem !important;
    }
  }
}
