:root {
  --lineHeight: 110%;
  --paragraphSpacing: 0.8rem;
}

.workHistoryItem {
  p {
    margin-bottom: var(--paragraphSpacing);
  }

  margin: 0;
  padding: 0;

  margin-bottom: 2.5rem;

  break-inside: avoid;
}

p.companyAndDate {
  font-weight: 500;
  font-family: var(--mantine-font-family-headings);

  margin-bottom: 0;
  line-height: var(--lineHeight);

  .company {
    text-transform: uppercase;
    font-weight: 600;
  }

  a {
    font-weight: 600;
    line-height: var(--lineHeight);
    color: var(--mantine-color-text);

    &:hover {
      color: var(--mantine-color-anchor);
    }
  }
}

.summary {
  color: var(--mantine-color-dimmed);
  margin-bottom: var(--paragraphSpacing);
  margin-top: 0.2rem;
  font-family: var(--mantine-font-family-headings);
  font-weight: 500;
  line-height: 125%;
}

@media print {
  .workHistoryItem {
    p {
      margin-bottom: var(--paragraphSpacing);
    }

    p.summary {
      margin-top: 0 !important;
    }

    p.companyAndDate {
      margin-bottom: 0 !important;
      line-height: var(--lineHeight) !important;

      .company, .company a {
        font-size: var(--mantine-font-size-xs) !important;
      }
    }
  }
}
