.projectItem {
  p {
    margin-bottom: 0.8rem;
  }

  margin: 0;
  margin-bottom: 2.5rem;
  padding: 0;

  break-inside: avoid;
}

.title {
  margin-top: 0;
}

@media print {
  .title {
    margin-top: 0 !important;
    margin-bottom: 0.2rem !important;
  }
}

