releases:
  # Create a secret store that syncs with an external secret store
  - name: external-secrets-store
    namespace: external-secrets
    chart: ../../charts/secret-store
    values:
      - '../../charts/secret-store/values.yaml.gotmpl'
      - name: {{ requiredEnv "PLATFORM_SECRET_STORE_NAME" }}
        secretStoreKind: {{ requiredEnv "PLATFORM_SECRET_STORE_KIND" }}
